<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybank.mapper.DicItemMapper">

    <resultMap id="BaseResultMap" type="org.example.mybank.entity.DicItem">
            <id property="dicItemId" column="dicItemId" jdbcType="INTEGER"/>
            <result property="dicTypeCode" column="dicTypeCode" jdbcType="INTEGER"/>
            <result property="dicItemCode" column="dicItemCode" jdbcType="INTEGER"/>
            <result property="dicItemName" column="dicItemName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectTypeItem" resultType="java.util.Map">
        select dicTypeCode,dicItemCode from dicitem
    </select>


</mapper>
