<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybank.mapper.StaffMapper">

    <resultMap id="BaseResultMap" type="org.example.mybank.entity.Staff">
            <id property="staffId" column="staffId" jdbcType="INTEGER"/>
            <result property="staffName" column="staffName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        staffId,staffName
    </sql>
</mapper>
